body {
  display: grid;
  grid-template:
    'notification notification notification' auto
    'content content content' 1fr
    'content content content' 1fr/
    1fr 1fr 1fr;

  height: 100vh;
}

.main-content {
  grid-area: content;
  overflow: auto;
  padding: 15px 20px;
}

.notification {
  grid-area: notification;
  z-index: 1;
}

.dialog{
  grid-area: 1/1/5/5;
  dialog {
    margin: 0;
    padding: 0;
    border: none;
    pointer-events: auto;
  }
  pointer-events: none;
}
